body {
	background-color: #CDCDCD;
	height: 100%;
	width: 100%;
}

.container {
	height: 1000px;
	width: 60%;
	height: auto;
	background-color: #CDCDCD;
	margin: 0 auto;
	margin-top: 30px;
}

.leftSide {
	width: auto;
	background-color: #38393D;
	float: left;
	padding-bottom: 18px;
	height: 100%
}

.rightside {
	width: auto;
	background-color: rgb(243, 243, 243);
	float: right;
	padding: 0px;
	padding-bottom: 10px;
	height: 1019px;
}

.title {
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: left;
	font-size: 18px;
	padding-left: 10px;
	color: white;
}

.line {
	height: 3px;
	width: 180px;
	background-color: rgba(255, 255, 255, .3);
	border-left: 20px solid #CDAB4A;
	margin-left: 10px;
}

.decription {
	font-family: "Bookman", Gadget, sans-serif;
	text-align: left;
	font-size: 12px;
	color: rgb(222, 222, 222);
	display: inline-block;
	padding-left: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.contactTitle {
	font-family: "Bookman", Gadget, sans-serif;
	text-align: left;
	font-size: 16px;
	color: white;
	margin-top: 10px;
	padding-left: 10px;
	margin-bottom: 0px;
	display: inline-block;
}

.contactInfo {
	font-family: "Bookman", Gadget, sans-serif;
	text-align: left;
	font-size: 12px;
	color: rgb(222, 222, 222);
	margin-top: 0px;
	margin-bottom: 20px;
	padding-left: 10px;
}

a {
	text-align: left;
	font-size: 12px;
	color: rgb(222, 222, 222);
	text-decoration: none;
}

.cotactLink {
	text-align: left;
	font-size: 22px;
	text-decoration: none;
	color: #38393D;
	padding-left: 12px;
}

a:hover {
	color: #CDAB4A;
}

ul {
	font-family: "Bookman", Gadget, sans-serif;
	text-align: left;
	font-size: 12px;
	color: rgb(222, 222, 222);

}

ul li {

	line-height: 20px;
}

ul li li {

	line-height: 20px;
}

.yellowDiv {
	margin-top: 30px;
	height: 180px;
	color: white;
	padding-top: 20px;
	font-family: "Arial Black", Gadget, sans-serif;
	width: 100%;
	font-size: 40px;
	background-color: #CDAB4A;
}

.name {
	color: white;
	margin-top: 20px;
	font-family: "Arial Black", Gadget, sans-serif;
	padding-left: 30px;
	width: 100%;
	font-size: 40px;
	font-weight: bold;
}

.subtitle {
	color: white;
	font-family: "Bookman";
	padding-left: 30px;
	width: 100%;
	font-size: 25px;
	padding-top: 15px;
	font-weight: bold;
}

.yellowTitle {
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: left;
	font-size: 16px;
	color: #CDAB4A;
	display: inline-block;
	padding-left: 25px;
	padding-top: 10px;
}

.blacksubTitle {
	font-size: 16px;
	color: rgb(82, 82, 82);
	font-family: "Bookman", Gadget, sans-serif;
	font-size: 16px;
	padding-right: 50px;
	text-align: justify;
	margin-top: 10px;
	padding-left: 28px;
	padding-bottom: 0px;
}

.forskills {
	font-family: "Bookman", Gadget, sans-serif;
	text-align: left;
	font-size: 16px;
	color: rgb(82, 82, 82);
	padding-left: 272px;
	padding-left: 45px;
}

.forskills2 {
	font-family: "Bookman", Gadget, sans-serif;
	text-align: left;
	font-size: 16px;
	color: rgb(82, 82, 82);
	padding-left: 230px;
	margin-top: 10px;
	padding-left: 45px;
}

.square2 {
	height: 3px;
	width: 400px;
	background-color: #CDCDCD;
	border-left: 20px solid #CDAB4A;
	margin-left: 25px;
	margin-top: 5px;
}

.title2 {
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: left;
	font-size: 18px;
	color: black;
	padding-left: 25px;
	display: inline-block;
	padding-top: 22px;
}

.personalImage {
	border-radius: 50%;
	margin-left: 13px;
	height: 300px;
	width: 100%;
	margin-bottom: 22px;
}

.bluesquare {
	width: 15px;
	height: 15px;
	background: #44C3E3;
	margin-bottom: 3px;
}

.pinksquare {
	width: 15px;
	height: 15px;
	background: #F8B7BB;
	margin-bottom: 3px;
}

.greensquare {
	width: 15px;
	height: 15px;
	background: #9CC61B;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	padding-left: 10px;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 30%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	background-color: #CDAB4A;
	color: white;
}

.contactForm {
	margin: 0 auto;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	font-family: "Arial Black", Gadget, sans-serif;
	color: white;
}

input[type=text],
[type=email],
[type=phone],
[type=website] {
	width: 90%;
	color: #CDAB4A;
	font-size: 16px;
	padding: 5px 0px;
	padding-top: 10px;
	margin: 3px 0;
	margin-right: 20px;
	font-family: "Arial Black", Gadget, sans-serif;
	margin-left: 20px;
	box-sizing: border-box;
	background: transparent;
	border: none;
	border-bottom: 1px solid white;
}

label {
	margin-left: 20px;
}

textarea {
	width: 90%;
	font-family: "Arial Black", Gadget, sans-serif;
	box-sizing: border-box;
	color: #CDAB4A;
	font-size: 16px;
	background: transparent;
	border: none;
	border-bottom: 1px solid white;
}

.mytitle {
	font-size: 25px;
	margin-top: 30px;
	margin-left: 100px;
	display: inline-block;
}

input:focus {
	outline: none !important;
	border-color: #CDAB4A;
}

textarea:focus {
	outline: none !important;
	border-color: #CDAB4A;
}

input[type=submit] {
	background-color: #CDAB4A;
	color: white;
	border-radius: 7px;
	width: 90%;
	font-family: "Arial Black", Gadget, sans-serif;
	padding: 10px;
	margin-left: 20px;
	margin-top: 50px;
	font-size: 20px;
	border: none;
	margin-bottom: 15px;
}